
.list{
    height: 650px;
    background-color: pink;
}
.sk{
   position: absolute;
   left: 190px;
   top: 40px;
   border-left: 1px solid #c81523;
   padding:3px 0 0 14px
}
.nav{
    overflow: hidden;
}
.sk-list{
    float: left;;
}
.sk-list ul li{
    float: left;
}
.sk-list ul li a{
    display: block;
    line-height: 47px;
    padding:0 30px;
    font-size: 16px;
    color:#000 ;
    font-weight: 700;
}
.sk-con{
    float: left;
}

.sk-con ul li{
    float: left;
}
.sk-con ul li a{
    display: block;
    line-height: 49px;
    font-size: 14px;
    padding:0 20px;
}
.sk-con ul li:last-child a::after{
 content: "\ea50";
 font-family: 'icomoon';
}

.sk_bd ul li{
    width: 290px;
    height: 460px;
    border: 1px solid transparent;
    overflow: hidden;
    float: left;
    margin-right: 13px;
}

.sk_bd ul li:nth-child(4n){
    margin-right: 0;
}
.sk_bd ul li:hover{
    border: 1px solid #c81523;
}